body{
    background-image:url("https://wallpaperaccess.com/full/1567833.jpg");
    background-size:100% 100%;
font-size:1.2em;	

}
h3{
color: Brown;
text-align: left;
padding-top: 2%;
padding-bottom: 2%;

}
img{
    display: block;
    margin-right: auto;

}


.wrapper{
    margin-left:auto%
}

.progress-bar{
    padding:0.1em 16px;
    border-radius: 16px;
    text-align:center;
    color:black;
    background-color:#5ef266;
}
.wrapper{
    margin-left:30%
}